{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}{% for alumno in ficha %}{{ alumno.nombre }}{% endfor %} - Ficha alumno{% endblock titulo %}

{% block content %}

<div class="col">

    <div class="container-fluid bg-primary bg-gradient bg-opacity-75 pt-5 pb-4">
        <div class="text-center mx-md-5">
            {% for alumno in ficha %}

                <h1 class="d-block fw-bold">{{ alumno.nombre }}</h1>
                <h4 class="d-block">{{ alumno.rut_formatted }}</h4>
                <h6 class="d-block fw-light">{{ alumno.fecha_nacimiento }}</h6>

                <div class="card text-center my-4">
                    <div class="card-header">
                        <ul class="nav nav-pills pb-2 card-header-tabs justify-content-evenly" id="myTab" role="tablist">
                            <li class="nav-item m-1 m-md-0" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Datos personales</button>
                            </li>
                            {% if perms.fichas_alumnos.can_view_ficha_completa %}
                                <li class="nav-item m-1 m-md-0" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile-tab-pane" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="false">Formularios médicos</button>
                                </li>
                                <li class="nav-item m-1 m-md-0" role="presentation">
                                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact-tab-pane" type="button" role="tab"
                                        aria-controls="contact-tab-pane" aria-selected="false">Documentos administrativos</button>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="fw-light">Dirección: {{ alumno.direccion }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="fw-light">Teléfono: {{ alumno.telefono }}</div>
                                    </div>
                                    {% if perms.fichas_alumnos.can_view_ficha_completa %}
                                        <div class="col">
                                            <div class="fw-light">Padre: {{ alumno.nombre_padre }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Madre: {{ alumno.nombre_madre }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if perms.fichas_alumnos.can_view_ficha_completa %}
                                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                                        <div class="col">
                                            <div class="fw-light">Formulario de salud: {% if alumno.formulario_salud %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Anamnesis: {% if alumno.anamnesis %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Certificado de nacimiento: {% if alumno.certif_nacimiento %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Consent. fonoaudiología: {% if alumno.consent_fonoaudiologia %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Consent. Vida Sana: {% if alumno.consent_vidasana %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                                        <div class="col">
                                            <div class="fw-light">Ficha social: {% if alumno.ficha_social %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Solicitud textos esc.: {% if alumno.solicitud_textos %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Entrega textos esc.: {% if alumno.entrega_textos %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Norm. colación y celebración: {% if alumno.colacion_celebracion %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Ficha de matrícula: {% if alumno.ficha_matricula %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Autorización eval.: {% if alumno.autorizacion_eval %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Formulario reeval.: {% if alumno.formulario_reeval %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Formulario FUDEI: {% if alumno.formulario_fudei %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Informe para padres 2021: {% if alumno.informe_padres %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Evaluación diag.: {% if alumno.eval_diagnostica %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Informe semestral: {% if alumno.informe_semestral %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        <div class="col">
                                            <div class="fw-light">Prueba eval. semestral: {% if alumno.peval_semestral %}Sí{% else %}No{% endif %}</div>
                                        </div>
                                        {% if alumno.otros_docs_admin %}
                                            <div class="col">
                                                <div class="fw-light">Otros documentos: {{ alumno.otros_docs_admin }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                  </div>

                <div>
                    {% if apoderado %}
                        {% for a in apoderado %}
                            <h6 class="d-block fw-light my-3">{{ a.apoderado.nombre }}</h6>
                        {% endfor %}
                    {% else %}
                        <h6 class="d-block fw-bold text-danger my-3">Usuario apoderado sin asignar</h6>
                    {% endif %}

                    {% if perms.fichas_alumnos.can_view_ficha_completa %}

                        {% if alumno.estado == 'lista_espera' %} <h6 class="d-block fw-bold mb-0 text-light">Lista de espera</h6> {% endif %}
                        {% if alumno.estado == 'documentos_pendientes' %} <h6 class="d-block fw-bold mb-0 text-warning">Documentos pendientes</h6> {% endif %}
                        {% if alumno.estado == 'curso_asignado' %} <h6 class="d-block fw-bold mb-0 text-success">Curso asignado</h6> {% endif %}
                        {% if alumno.estado == 'retirado' %} <h6 class="d-block fw-bold mb-0 text-danger">Alumno retirado</h6> {% endif %}

                    {% endif %}

                        <h6 class="d-block fw-bold">
                            {% if alumno.curso %}
                                {{ alumno.curso.nombre }}
                            {% else %}
                                Curso no asignado
                            {% endif %}
                        </h6>

                        {% if perms.fichas_alumnos.can_changefichaalumno %}
                            <a href="{% url 'change_ficha_alumno' alumno.rut %}" class="btn btn-outline-light mt-4 fw-bold">Modificar ficha</a>
                        {% endif %}

                </div>

            {% endfor %}
        </div>
    </div>

    <div class="col col-md-10 col-lg-8 mx-auto my-5">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Avances del alumno
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">

                    {% if perms.fichas_alumnos.add_avancealumno %}

                        <div class="container my-3">
                            <p class="fs-5">Subir avance</p>
                            <form method="post">
                                {% csrf_token %}
                                <p>{{ avance_form|crispy }}</p>
                                <button class="btn btn-primary" type="submit">Subir</button>
                            </form>
                        </div>

                    {% endif %}

                    {% if avances %}

                        {% for avance in avances %}
                            <div class="container-fluid border">

                                <p class="d-block m-0 p-2">{{ avance.comentario }}</p>
                                <div class="row align-items-center justify-content-between py-2 gx-2">
                                    <div class="col">
                                        <p class="d-flex mb-0 ps-2 text-muted fst-italic">
                                            {{ avance.geteditor }} -
                                            {% if avance.modificado == False %}Publicado el{% else %}Modificado el{% endif %} {{ avance.fecha_edicion }}
                                        </p>
                                    </div>
                                    {% if perms.fichas_alumnos.change_avancealumno %}

                                        <div class="col-md-4 my-3 my-md-0 text-center text-md-end mx-2">
                                            <a href="{% url 'modificar_avance_alumno' avance.id %}" type="button" class="btn btn-outline-warning fw-bold">Modificar</a>
                                            {% if perms.fichas_alumnos.delete_avancealumno %}
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#confirmDeleteAvance{{ avance.id }}">
                                                X
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="confirmDeleteAvance{{ avance.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteAvance{{ avance.id }}Label" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title fw-bold" id="confirmDeleteAvance{{ avance.id }}Label">Confirmar eliminación de avance</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-start">
                                                            <p>Estás por eliminar el siguiente avance:</P>
                                                            <p class="fw-light fst-italic px-3">{{ avance.comentario }}</P>
                                                            <p class="fw-lighter fst-italic px-3 text-muted">
                                                                {{ avance.geteditor }} -
                                                                {% if avance.modificado == False %}Publicado el{% else %}Modificado el{% endif %} {{ avance.fecha_edicion }}
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                            <a type="button" class="btn btn-danger" href="{% url 'eliminar_avance_alumno' avance.id %}">Confirmar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>

                                    {% endif %}
                                </div>

                            </div>
                        {% endfor %}

                    {% else %}

                        <h6 class="d-block fw-bold p-3">No existen publicaciones de avances</h6>

                    {% endif %}

                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Trabajos
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    {% if perms.fichas_alumnos.add_bancotrabajo %}

                        <div class="container my-3">
                            <p class="fs-5">Subir trabajo</p>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{ trabajo_form.trabajo }}</p>
                                <button class="btn btn-primary" type="submit">Subir</button>
                            </form>
                        </div>

                    {% endif %}

                    <div class="table-responsive-md">
                        <table class="table table-hover mb-0">
                            <thead class="table-dark">
                                <tr>
                                    <th class="fs-5" {% if perms.fichas_alumnos.delete_bancotrabajo %}colspan="2"{% endif %}>Trabajos alumno</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if trabajos %}
                                    {% for trabajo in trabajos %}

                                        <tr>
                                            <td class="col-11 text-wrap align-middle pe-0 ps-1"><a class="btn btn-outline-success ms-md-2 overflow-hidden btn-vw-75" style="text-overflow: ellipsis;" {% if perms.fichas_alumnos.view_bancotrabajo %} href="{% get_media_prefix %}{{ trabajo.trabajo }}" {% endif %} target="_blank">{{ trabajo.filename }}<svg class="ms-2" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg></a></td>
                                            {% if perms.fichas_alumnos.delete_bancotrabajo %}
                                                <td class="col-1 text-center align-middle pe-1">

                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#confirmDeleteTrabajo{{ trabrajo.id }}">
                                                        X
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="confirmDeleteTrabajo{{ trabrajo.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteTrabajo{{ trabrajo.id }}Label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title fw-bold" id="confirmDeleteTrabajo{{ trabrajo.id }}Label">Confirmar eliminación de trabajo</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body text-start">
                                                                    <p>Estás por eliminar el siguiente archivo:</P>
                                                                    <p class="fw-light fst-italic px-3">{{ trabajo.filename }}</P>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                                    <a type="button" class="btn btn-danger" href="{% url 'eliminar_trabajo_alumno' trabajo.id %}">Confirmar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>

                                            {% endif %}
                                        </tr>

                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="col-11 text-wrap fs-6 align-middle">
                                            <h6 class="d-block fw-bold p-3">No existen publicaciones de trabajos</h6>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                            
                        </table>
                        <!-- Seccion trabajos cursos -->
                        <table class="table table-hover mb-0">
                            {% for alumno in ficha %}
                                {% if alumno.curso %}
                                    <thead class="table-dark">
                                        <tr>
                                            <th class="fs-5" {% if perms.fichas_alumnos.delete_bancotrabajo %}colspan="2"{% endif %}>Trabajos curso</th>
                                        </tr>
                                        <tbody>
                                            {% if trabajoscurso %}
                                            {% for trabajo in trabajoscurso %}

                                                <tr>
                                                    <td class="col-11 text-wrap align-middle pe-0 ps-1"><a class="btn btn-outline-success ms-md-2 overflow-hidden btn-vw-90" style="text-overflow: ellipsis;" {% if perms.fichas_alumnos.view_bancotrabajo %} href="{% get_media_prefix %}{{ trabajo.trabajo }}" {% endif %} target="_blank">{{ trabajo.filename }}<svg class="ms-2" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg></a></td>
                                                </tr>

                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="col-11 text-wrap fs-6 align-middle">
                                                    <h6 class="d-block fw-bold p-3">No existen publicaciones de trabajos en el curso</h6>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </thead>
                                {% endif %}
                            {% endfor %}
                        </table>

                    </div>

                </div>
            </div>
            {% if perms.fichas_alumnos.view_bancodocumento %}

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Banco de documentos
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">

                        {% if perms.fichas_alumnos.add_bancodocumento %}

                        <div class="container my-3">
                            <p class="fs-5">Subir documento</p>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{ documento_form.documento }}</p>
                                <button class="btn btn-primary" type="submit">Subir</button>
                            </form>
                        </div>

                    {% endif %}

                        <div class="table-responsive-md">
                            <table class="table table-hover mb-0">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="fs-5" {% if perms.fichas_alumnos.delete_bancodocumento %}colspan="2"{% endif %}>Documentos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if documentos %}
                                        {% for doc in documentos %}

                                            <tr>
                                                <td class="col-11 text-wrap align-middle pe-0 ps-1"><a class="btn btn-outline-success ms-md-2 overflow-hidden btn-vw-75" style="text-overflow: ellipsis;" {% if perms.fichas_alumnos.view_bancotrabajo %} href="{% get_media_prefix %}{{ doc.documento }}" {% endif %} target="_blank">{{ doc.filename }}<svg class="ms-2" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg></a></td>
                                                {% if perms.fichas_alumnos.delete_bancodocumento %}
                                                    <td class="col-1 text-center align-middle pe-1">

                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#confirmDeleteDocumento{{ doc.id }}">
                                                            X
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="confirmDeleteDocumento{{ doc.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteTrabajo{{ doc.id }}Label" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title fw-bold" id="confirmDeleteDocumento{{ doc.id }}Label">Confirmar eliminación de documento</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body text-start">
                                                                        <p>Estás por eliminar el siguiente archivo:</P>
                                                                        <p class="fw-light fst-italic px-3">{{ doc.filename }}</P>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                                        <a type="button" class="btn btn-danger" href="{% url 'eliminar_documento_alumno' doc.id %}">Confirmar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                {% endif %}
                                            </tr>

                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="col-11 text-wrap fs-6 align-middle">
                                                <h6 class="d-block fw-bold p-3">No existen publicaciones de documentos</h6>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            {% endif %}
        </div>

        {% if perms.fichas_alumnos.can_retirar_ficha_alumno %}
            <div class="text-center my-5">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmRetiroFichaAlumno">
                    Retirar alumno
                </button>

                <!-- Modal -->
                {% for alumno in ficha %}
                    <div class="modal fade" id="confirmRetiroFichaAlumno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmRetiroFichaAlumnoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bold" id="confirmRetiroFichaAlumnoLabel">Confirmar retiro ficha de alumno</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-start">
                                    <p>Estás por retirar la siguiente ficha de alumno:</P>
                                        <p class="fw-light fst-italic px-3">{{ alumno.nombre }}</P>
                                        <p class="fw-lighter fst-italic text-muted px-3">{{ alumno.rut_formatted }}</P>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <a type="button" class="btn btn-danger" href="{% url 'retirar_ficha_alumno' alumno.rut %}">Confirmar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

</div>



{% endblock content %}