{% extends 'base.html' %}
{% load static %}

{% block titulo %}Cursos{% endblock titulo %}

{% block content %}

<div class="col col-md-10 col-lg-8 mx-auto">

    {% if perms.fichas_alumnos.can_view_listado_fichas %}

        <h3 class="mt-4 mb-3">Buscar curso</h3>
        <form method="get" action="" class="d-flex">

            <input name="nombre" class="form-control me-2" type="search" placeholder="Nombre" aria-label="Search">
            <select name="periodo" class="form-select" aria-label="Default select periodo">
                <option value="0" selected hidden>Periodo</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select name="docente" class="form-select" aria-label="Default select curso">
                <option value="0" selected hidden>Seleccione un docente</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

    {% endif %}

    
    <div class="d-flex justify-content-between mx-2 mt-5">
        <h3>Cursos</h3>
        {% if perms.cursos.add_curso %}
            <a class="py-2" href="">Agregar curso</a> 
        {% endif %}
    </div>


    {% if listado %}
        <div class="table-responsive-md">
            <table class="table table-hover fs-5">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Periodo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in listado %}

                        <tr onclick="window.location='';">
                            <td>{{ curso }}</td>
                            <td>{{ curso.periodo }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}

        <h3 class="p-5">Aún no se le ha asignado un curso</h3>

    {% endif %}

</div>


{% endblock content %}