{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Modificar ficha de alumno{% endblock titulo %}

{% block content %}

    <div class="container">
        <div class="col col-md-8 col-lg-6 mx-auto">
            <form method="post">
                {% csrf_token %}
                {{ form.nombre|as_crispy_field }}
                {{ form.fecha_nacimiento|as_crispy_field }}
                {{ apoderado|crispy }}
                <a href="{% url 'ficha_alumno' alumno.rut %}" class="btn btn-secondary">Cancelar</a>
                <button class="btn btn-primary" type="submit">Modificar</button>
            </form>
        </div>
    </div>
    
{% endblock content %}