{% extends 'base_autenticacion.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Reestablecer contraseña{% endblock titulo %}

{% block h1 %}Reestablecer contraseña{% endblock h1 %}
{% block content %}


    <div class="container">
        {% if validlink %}
            <div class="col col-md-8 col-lg-6 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Cambiar contraseña">
                </form>
            </div>
        {% else %}
    
            <p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
    
        {% endif %}
    </div>


{% endblock content %}