{% extends 'base_autenticacion.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Reestablecer contraseña{% endblock titulo %}

{% block h1 %}Reestablecer contraseña{% endblock h1 %}
{% block content %}

    <div class="container">
        <div class="col col-md-8 col-lg-6 mx-auto mb-5">
            <p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>
            <form method="post">
                {% csrf_token %}
                <p>{{ form.email|as_crispy_field }}</p>
                <button class="btn btn-primary" type="submit">Reestablecer contraseña</button>
            </form>
        </div>
    </div>

    
{% endblock content %}